html, body {
  margin: 0px;
  height: 100%;
}

p {
  margin: 0px;
}

button {
  background-color:#1992D4;
  border: none;
  border-radius: 15px;
  font-weight: 900;
  font-size: 18px;
  color: white;
  padding: 15px 24px 15px 24px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.container {
  background-color: blueviolet;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100%;
}

.dashboardMenu {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 24px;
  font-weight: 700;
  background-color: #1992D4;
  grid-area: 1 / 1 / 11 / 3;
}

.dashboardTitle {
  margin-left: 24px;
}

.mainLinks {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: 24px;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.subLinks {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-left: 24px;
}

.main, .sub {
  margin-top: 10px;
}

.header {
  background-color: white;
  z-index: 100;
  box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.4);
  grid-area: 1 / 3 / 3 / 11
}

.headerContent {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.topHeaderSearch {
  width: 50%;
}

.searchbar {
  border-radius: 15px;
  border: none;
  background-color: #E2E8F0;
  padding: 10px;
  width: 90%;
}

.headerLeftContent {
  display: flex;
}

.greeting {
  align-self: flex-end;
}

.headerButtons {
  align-self: flex-end;
}

.headshot {
  height: 100px;
  width: 100px;
  margin-right: 24px;
  object-fit: cover;
  border-radius: 50%;
}

.cards {
  background-color: #E2E8F0;
  grid-area: 3 / 3 / 11 / 9
}

.allCards {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0px 24px 0px 24px;
}

.card {
  background-color: white;
  height: 250px;
  min-width: 40%;
  flex-basis: auto;
  flex-grow: 1;
  margin-top: 24px;
  border-radius: 15px;
  border-left: 12px solid orange;
}

.cardTitle {
  margin-left: 24px;
}

.additionalContent {
  background-color: #E2E8F0;
  grid-area: 3 / 9 / 11 / 11
}

.announcementsTitle {
 margin-bottom: 48px;
}

.trendingTitle {
  margin-bottom: 24px;
}

.additionalCard {
  background-color: white;
  height: 400px;
  margin-right: 12px;
  margin-top: 24px;
  border-radius: 10px;
}